In [2]:
import cv2 as cv
import pandas as pd
import os
import numpy as np

In [3]:
df_frames_pas = pd.read_excel('../data/rotulos/Frames e PAS.xlsx')
df_frames_pas

def normalize_columns_names(columns):
    """
    Normalize the column names of a DataFrame by removing leading/trailing whitespace and converting to lowercase.
    """
    columns = (
        columns
        .str.replace(' ', '_')
        # .str.normalize('NFKD')
        .str.encode('ascii', errors='ignore')
        .str.decode('utf-8')
        .str.lower()
    )
    return columns

df_frames_pas.columns = normalize_columns_names(df_frames_pas.columns)
df_frames_pas = df_frames_pas.rename(columns={
    'frame_de_mxima_constrio_farngea': 'frame_max_constricao',
    'frame_de_repouso': 'frame_repouso',
    'pas_frame': 'pas_frame',
    'pas': 'pas_score',
    'video': 'video_id'
})
df_frames_pas

     video_id  pas_score  pas_frame  frame_max_constricao frame_repouso
0         NaN        NaN        NaN                   NaN           NaN
1         1.0        1.0        NaN                 104.0           116
2         2.0        1.0        NaN                  66.0            99
3         3.0        1.0        NaN                  63.0            96
4         4.0        1.0        NaN                  54.0            80
..        ...        ...        ...                   ...           ...
96       96.0        1.0        NaN                  92.0           113
97       97.0        1.0        NaN                  55.0            87
98       98.0        3.0       41.0                  54.0            68
99       99.0        8.0       43.0                  51.0            70
100     100.0        8.0       31.0                  38.0            58

[101 rows x 5 columns]

In [4]:
%matplotlib inline 
from matplotlib import pyplot as plt
from IPython.display import display, Image